<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyp.ques.mapper.AnswerMapper">
  <resultMap id="BaseResultMap" type="com.hyp.ques.domain.Answer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="q_id" jdbcType="BIGINT" property="qId" />
    <result column="c_id" jdbcType="BIGINT" property="cId" />
    <result column="time" jdbcType="BIGINT" property="time" />
  </resultMap>
</mapper>